<!DOCTYPE html>
<html>
  <head>
    <title>DeviseFork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class = 'bg-gray-100 h-screen'>
    <main class="container mx-auto px-5 flex h-full mt-28 justify-center">
      <%= yield %>
    </main>
  </body>
</html>
